body {
	display: grid;
	height: 100vh;
	margin: 0;
	place-items: center center;
}

#theCanvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: lightgrey;
}

#theVideo {
	width: 100%;
	height: 100%;
	background-color: lightblue;
}

#output {
	position: absolute;
	top: 0px;
}

.content {
	z-index: 10;
	width: 10%;
}